---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: listviews.schwifty.pewty.fr
spec:
  group: schwifty.pewty.fr
  names:
    kind: ListView
    listKind: ListViewList
    plural: listviews
    singular: listview
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ListView is the Schema for the lists API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            items:
              description: ListViewSpec defines the desired state of ListView
              properties:
                exclude:
                  items:
                    type: string
                  type: array
                include:
                  items:
                    type: string
                  type: array
                items:
                  items:
                    properties:
                      description:
                        type: string
                      key:
                        type: string
                      label:
                        type: string
                      link:
                        type: string
                      priority:
                        type: integer
                      type:
                        type: string
                      width:
                        type: integer
                    required:
                    - key
                    - label
                    type: object
                  type: array
              required:
              - exclude
              - include
              - items
              type: object
            type: array
          status:
            description: ListViewStatus defines the observed state of ListView
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
